Debug/*
Release/*
x64/*
*.grt
*.log
*.obj
*.a
packages/*
.vs/

GtraceConsole/x64/
GtraceConsole/Release/
GtraceConsole/Debug/
GtraceLib/Release/
GtraceLib/Debug/
GtraceApp/Release/
GtraceApp/Debug/

unit_tests/Release
unit_tests/Debug
unit_tests/x64
*.config

*.vcxproj*
*sln

*Makefile
*.cmake
CMakeCache.txt
CMakeFiles/
GtraceLib/GTraceLib.dir/
GtraceConsole/GTaceConsole.dir/
GtraceApp/GTaceApp.dir/
unit_tests/GTaceUnitTests.dir/
unit_tests/google-test/googletest-build/
unit_tests/google-test/googletest-download/
unit_tests/google-test/googletest-src/
out/
